<mat-nav-list>
  <!--

    Cuando nosotros utilizamos routerLink y el valor que pasamos NO COMIENZA CON "/"
    quiere decir que vamos a hacer una navegacion relativa
  -->
  <a
    routerLink="home"
    routerLinkActive
    #inicioLink="routerLinkActive"
    [activated]="inicioLink.isActive"
    mat-list-item
  >
    Inicio
  </a>
  <a
    routerLink="students"
    mat-list-item
    routerLinkActive
    #estudiantesLink="routerLinkActive"
    [activated]="estudiantesLink.isActive"
  >
    Estudiantes
  </a>
  <a mat-list-item> Cursos </a>
  <a (click)="logout()" mat-list-item> Cerrar sesión</a>
</mat-nav-list>
